@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(109,172,247,1) 100%); /* Cor de fundo desejada */
  margin: 0; /* Remover margens padrão */
  padding: 0; /* Remover preenchimento padrão */
  height: 100%; /* Garantir que a página ocupe toda a altura da janela */
}